[submodule "safedict"]
	path = safedict
	url = https://gist.github.com/9588060.git
[submodule "orderedset"]
	path = orderedset
	url = https://gist.github.com/9651601.git
[submodule "thredis"]
	path = thredis
	url = https://github.com/adoc/thredis/
