<form id="locations_form">
    <table class="table striped">
        <thead>
            <tr>
                <th>Abbr.</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="new_item">
                <td class="form-group">
                    <input class="form-control" type="text" name="key" size="5" maxlength="16" />
                    <label class="control-label"></label>
                </td>
                <td class="form-group">
                    <input class="form-control" type="text" name="name" size="32" maxlength="32" />
                    <label class="control-label"></label>
                </td>
                <td class="form-group" style="width: 300px;">
                    <button type="button" name="new_btn" class="btn">New</button>
                </td>
            </tr>
        <% _.each(collection, function(item) { %>
            <%
            var id = item.get('id'),
                key = item.get('key'),
                name = item.get('name'),
                desc = item.get('desc'),         
                selected_state = (selected && selected === id),
                selected_class = selected_state ? ' selected' : '',
                edit_state = (edited && edited === id),
                disabled = edit_state ? '' : ' disabled="disabled"',
                edit_class = edit_state && ' edited' || '';
            %>
            <tr id="<%=id%>" class="collection_item select_item<%=selected_class%><%=edit_class%>" data-id="<%=id%>">
                <td class="form-group">
                    <input class="form-control"<%=disabled%> type="text" name="key" value="<%=key%>" size="5" maxlength="16" />
                    <label class="control-label"></label>
                </td>
                <td class="form-group">
                    <input class="form-control"<%=disabled%> type="text" name="name" value="<%=name%>" size="32" maxlength="32" />
                    <label class="control-label"></label>
                </td>
                <td class="form-group">
                    <select class="form-control"<%=disabled%> name="zip_codes"></select>
                    <%
                    // var zip_codes = new Oest.AdminViews.ZipCodeList({location_id: id});
                    // zip_codes.render();
                    %>
                </td>
            <% if (edit_state) { %>
                <td class="form-group">
                    <button type="button" name="save_btn" class="btn btn-primary" data-id="<%=id%>">Save</button>
                    <button type="button" name="cancel_btn" class="btn btn-warning" data-id="<%=id%>">Cancel</button>
                </td>
            <% } else if (selected_state) { %>
                <td class="form-group">
                    <button type="button" name="edit_btn" class="btn btn-primary" data-id="<%=id%>">Edit</button>
                    <button type="button" name="delete_btn" class="btn btn-warning" data-id="<%=id%>">Delete</button>
                </td>
            <% } %>
            </tr>
        <% }); %>
        </tbody>
    </table>
</form>